ESP32_CAR/src/Openscad/DXF_PCB_Train_CTRL_2024-08-23.dxf
ESP32_CAR/src/Openscad/car_bat_holder_0.4n_0.2mm_PLA_MK4IS_1h14m.bgcode
ESP32_CAR/src/Openscad/car_bat_holder_0.4n_0.2mm_PLA_MK4IS_58m.bgcode
ESP32_CAR/src/Openscad/car_bat_holder_0.4n_0.15mm_PLA_MK4IS_1h20m.bgcode
ESP32_CAR/src/Openscad/car_pcb_holder_0.4n_0.15mm_PLA_MK4IS_56m.bgcode
